.mt {
	margin-top: 2em;
}
.circular-pic {
	width: 8em;
	height: 8em;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://www.newyorkdailysun.com/wp-content/uploads/2013/06/old-person.jpg) no-repeat;
	background-position:center;
	background-size:contain;
	}

.username {
	margin-left: 2em;
	font-size: 5em;
	color: #c4c4c4;
}

.slogan {
	font-size: 3em;
	color: #c4c4c4;
}

.prime {
	font-size: 5em;
	margin-top: 1em;
}

.black {
	color: #000
}

.silver {
	color: #c4c4c4;
}

.link a{
	font-size: 3em;
	color: #6f6f6f;
}

.link a:hover{
	text-decoration: none;
	color: #c4c4c4;
}

#query {
	border: 3px solid #000;
	margin-top: 1.5em;
	height: 4em;
}